@charset "utf-8";
/* CSS Document */
.san-p-tit{ padding:20px 40px 10px 40px; overflow:hidden; border:1px solid #e6e6e6;}
.santl{ width:100%;}
.santl li{ height:40px; line-height:40px; margin-bottom:10px;}
.san-p-t,.san-p-t2,.san-p-t3{ width:100%; height:40px;}
.san-p-t li,.san-p-t2 li,.san-p-t3 li{ float:left; }
.san-p-t li.no1,.san-p-t2 li.no1,.san-p-t3 li.no1{width:auto;  font-size:16px;line-height:40px;}
.san-p-t li.no2,.san-p-t2 li.no2,.san-p-t3 li.no2{ width:66px;height:28px; font-size:14px; margin:6px 20px 0 0; cursor:pointer;line-height:28px;text-align:center;}
.san-p-t li.no2.active,.san-p-t li.no2:hover,.san-p-t2 li.no2.active,.san-p-t2 li.no2:hover,.san-p-t3 li.no2.active,.san-p-t3 li.no2:hover{ background:#91c231; border-radius:30px;   color:#fff; transition:all 0.2s ease-in 0s; }

/*散标项目*/
.san-pro-box{ border:1px solid #e6e6e6; overflow:hidden;}
.san-tit{ font-size:16px; background:url(../images/pro-bg.png) right center no-repeat;line-height:52px; border-bottom:1px solid #e6e6e6; text-align:center; float:left; display:inline;}
.san-bg{ background:#fff !important;}
.p2p-btn-done{ width:94px; height:30px; display:block; margin-top:10px; margin-left:15px;  border:1px solid #bdbdbd; background:#cacaca; color:#fff;border-radius:30px; line-height:30px; text-align:center; font-size:16px;} 

/*抵押标投资*/
.invest-l{ width:650px; height:380px; border:1px solid #e6e6e6; margin-right:16px; position:relative;}
.invest-r,.invest-r2{ width:290px; height:340px; padding:20px;  border:1px solid #e6e6e6; overflow:hidden;}
.invest-l-tit{ height:53px; border-bottom:1px solid #e6e6e6;}
.invest-l-h3{ font-size:18px; line-height:53px;}
.invest-l-h3 img{ margin:10px 4px 0 10px;}
.invest-l-span{ font-size:14px; color:#989898; line-height:60px;}
.invest-l-a{ font-size:14px; color:#989898; line-height:56px; display:block; float:right; margin-right:15px;}
.invest-l-a:hover{ color:#189ed8; text-decoration:underline;}
.invest1{ width:100%; padding:20px 0 30px 0; overflow:hidden;}
.invest1 li{ padding-left:15px; width:175px; border-right:1px dashed #e5e5e5; float:left; }
.invest1 li.no1{ width:222px;}
.invest1 li.clbdr{ border-right:none;}
.invest1 li p{text-align:left; line-height:20px; font-size:16px; float:left;}
.invest1 li i{ font-size:12px;}
.invest1 li span{ font-size:26px; margin-top:18px; line-height:30px; float:left;}
.invest-cont{ float:left; width:47%; padding-left:15px; padding-top:10px;margin-bottom:10px;}
.invest-cont ul{ width:100%; }
.invest-cont ul li{ font-size:14px; line-height:20px; padding-top:14px; float:left;}
.inv-mr{ margin:4px 116px 0 0 !important;}
.invt-protect{ padding-left:15px; font-size:16px; line-height:28px;}
.invt-protect img{ margin-right:10px;line-height:28px; vertical-align:middle;}
.invt-r-1{ font-size:16px; line-height:32px; text-align:left;}
.invt-r-2{ font-size:26px; line-height:45px; text-align:left; margin-top:8px;}
.invt-r-3{ font-size:14px; text-align:center; line-height:32px;}
.invt-r-3 a{ color:#189ed8;}
.invt-r-3 a:hover{ text-decoration:underline;}
.invt-r-3-1 span{ font-size:18px; color:#ff8f12; line-height:32px;}
.invt-r-3-btn{ width:90px; height:32px; padding:0 0; font-size:16px; color:#fff; background:#91c231;text-align:center; cursor:pointer;}
.invt-r-3-btn:hover{color:#fff; background:#ff8f12; transition:all 0.4s ease-in 0s;}
.invt-r-4{ width:100%; height:45px; border:1px solid #e6e6e6; border-radius:3px; margin-top:18px;}
.invt-r-4-input{ width:85%; height:45px; line-height:45px; font-size:14px; padding-left:10px;}
.invt-r-5{ font-size:14px; text-align:left; line-height:30px; height:30px;}
.invt-r-5 a{ font-size:12px; color:#189ed8; float:right;}
.invt-r-5 a:hover{ text-decoration:underline;}
.invt-r-6{ font-size:12px; margin-top:28px; color:#189ed8; line-height:20px;}
.invt-r-6 input{ margin-right:6px; line-height:20px; vertical-align:middle;}
.invt-r-7{ margin-top:8px;}
.invt-r-mar{ margin:10px 0 10px 0 !important;}
.invt-r2-1{ font-size:16px; margin-top:35px; line-height:40px; margin-bottom:10px;}
.invt-r2-2{ font-size:26px; color:#ff8f12; line-height:40px; margin-bottom:30px;}
.invt-r2-3{ font-size:20px;  line-height:40px;}

.invtlist-box{ border:1px solid #e6e6e6;}

.invtlist { height:60px; border-bottom:1px solid #e6e6e6; }
.invtlist  li{ width:160px; height:60px; cursor:pointer; box-sizing:content-box; float:left; border-right:1px solid #e6e6e6;text-align:center; line-height:60px; font-size:18px; }
.invtlist  li:hover{ background:url(../images/invt-list-bg.png) top no-repeat #fff;  color:#189ed8; border-bottom:1px solid #fff;}
.invtlist  li.on{ background:url(../images/invt-list-bg.png) top no-repeat #fff; color:#189ed8; border-bottom:1px solid #fff; z-index:99; position:relative;}

.invt-box{ padding:70px 70px 0 70px; overflow:hidden;}
.invt-js{ width:100%; margin-bottom:70px;}
.invt-box .bg1{ width:100%; height:156px; background:url(../images/invt-icon1.png)  scroll 70px no-repeat;}
.invt-box .bg2{ width:100%; height:163px; background:url(../images/invt-icon2.png)  scroll 670px no-repeat;}
.invt-box .bg3{ width:100%; height:160px; background:url(../images/invt-icon3.png)  scroll 70px no-repeat;}
.invt-box .bg4{ width:100%; height:150px; background:url(../images/invt-icon4.png)  scroll 670px no-repeat;}
.invt-js-1{ padding-left:300px; width:550px;}
.invt-js-1  li.no1{ font-size:20px; line-height:40px; padding-left:15px; padding-top:14px;}
.invt-js-1  li.no2{ font-size:14px; line-height:32px; padding-left:15px;}
.invt-js-1  li.dot1{ background:url(../images/invt-dot1.png) scroll 0 14px no-repeat;}
.invt-js-1  li.dot2{ background:url(../images/invt-dot3.png) scroll 0 14px no-repeat;}
.invt-js-2{ width:100%;}
.invt-js-2  li.no1{ font-size:20px; line-height:40px; padding-left:15px; padding-top:14px;}
.invt-js-2  li.no2{ font-size:14px; line-height:32px; padding-left:15px;}
.invt-js-2  li.dot1{ background:url(../images/invt-dot2.png) scroll 0 14px no-repeat;}
.invt-js-2  li.dot2{ background:url(../images/invt-dot1.png) scroll 0 14px no-repeat;}
.invt-box2{ padding:30px 30px 50px 30px; overflow:hidden;}
.invt-detail{ width:100%; border:1px solid #e6e6e6;}
.invt-detail tr{ line-height:50px; font-size:14px;}
.invt-detail tr td.no1{ text-align:right; background:#f7f7f7; padding-right:20px; width:25%; border-bottom:1px dashed #fff;}
.invt-detail tr td.no2{ text-align:left; padding-left:20px; width:75%; border-bottom:1px solid #fff;}
.invt-detail tr td.no3{ text-align:center; border-top:1px dashed #e5e5e5; line-height:56px; color:#989898;}
.invt-box3{ padding:30px 20px 20px 20px; overflow:hidden;}
.join-list{ width:100%; text-align:center; border-top:1px solid #91c231; padding-bottom:10px; border-bottom:1px dashed #e5e5e5;}
.join-list tr:hover td{ background:#fff5e9;}
.join-list tr th{ line-height:46px; font-size:14px; }
.join-list tr td{ line-height:40px; font-size:14px;}
.join-list tr.no1{ background:#f7f7f7;}

.Income{ width:126px; height:87px; position:absolute; right:80px; bottom:40px; background:url(../images/shouyizhong.png) no-repeat;}
.Repayment{width:126px; height:88px; position:absolute; right:80px; bottom:40px; background:url(../images/yihuanqing.png) no-repeat;}

/*申请借款*/
.loan-apcation{ padding:10px; border:1px solid #e6e6e6; overflow:hidden;}
.loan-ap-tit{ line-height:40px; width:100%; margin-top:4px; border-bottom:1px solid #e6e6e6; line-height:40px; overflow:hidden;}
.loan-ap-tit span.tit{ font-size:20px; color:#585858;}
.loan-ap-tit span{ font-size:14px; color:#ff8f12; padding-right:10px;float:left;}
.loan-ap-tit img{ padding:6px 10px 0px 6px; float:left;}
.loan-ap-1{ width:100%; margin-top:10px; margin-bottom:20px; overflow:hidden;}
.loan-ap-1l{ width:488px; height:150px; background:url(../images/loan-apcation2.png) no-repeat scroll 30px center #f7f7f7; border-right:2px solid #fff;}
.loan-ap-1l.active{background:url(../images/loan-apcation2.png) no-repeat scroll 30px center #efefef;}
.loan-ap-12{ width:488px; height:150px; background:url(../images/loan-apcation3.png) no-repeat scroll 30px center #f7f7f7;}
.loan-ap-12.active{ background:url(../images/loan-apcation3.png) no-repeat scroll 30px center #efefef;}
.loan-ap-cont{ padding:20px 20px 0 156px; overflow:hidden;}
.loan-ap-cont h3{ font-size:24px; line-height:36px; color:#ea6c57;}
.loan-ap-cont p{ font-size:14px; line-height:22px; padding:4px 0;}
.loan-ap-cont p.no2{ color:#ff8f12;}
.loan-ap-cont p.no2 input{ line-height:22px; margin-right:5px; vertical-align:middle;}

.withdw-l{ width:25%; float:left; text-align:right; font-size:16px;line-height:55px;}
.withdw-r{ width:75%;  float:left; text-align:left; font-size:16px;line-height:55px;}
.withdw-r em{ font-size:22px; padding:0 6px;}
.withdw-r span{ padding:0 6px;}
.withdw-input{ width:240px; padding-left:10px; height:34px; border:1px solid #e6e6e6; border-radius:3px; margin-right:6px;}
.loan-select{border: 1px solid #e6e6e6;color: #989898;float: left;height: 34px; line-height:34px; margin:10px 0 0 0; padding: 4px 0; width:254px;}

.loan-box{ padding:14px 42px 0 42px; overflow:hidden;}
.loan-text-l{ font-size:18px; height:22px; line-height:22px; padding-left:10px; border-left:4px solid #91c231; float:left;}
.loan-text-r{ float:left; margin-bottom:24px;}
.loan-text-area{ min-height:130px; width:710px; border:1px solid #e6e6e6; font-size:14px; line-height:22px; color:#989898; padding:5px 10px; border-radius:3px; text-align:left;}
.loan-text-p{ color:#ff8f12; font-size:14px; line-height:20px; padding-top:5px; }
.loan-ap-ts{ font-size:14px; color:#989898; text-align:left; line-height:36px; height:36px; background:#fff4e7;}
.loan-ap-ts span{ padding-left:15px;}
.loan-box2{ padding:10px 10px 20px 65px; overflow:hidden;}
.loan-up{ width:120px; height:28px; padding:2px 0; background:#fff; cursor:pointer; text-align:center; border-radius:15px; color:#989898; border:1px solid #e6e6e6; margin-left:20px;}
.loan-up:hover{background:#ff8f12; color:#fff; border:1px solid #ff8400; transition:all 0.2s ease-in 0s; }
.loan-text{ font-size:16px; color:#189ed8; line-height:28px; text-align:left; margin:10px 0 10px 0;}
.loan-uplist{ width:100%; height:140px; padding-top:20px; }
.loan-uplist li{ float:left; position:relative; cursor:pointer;}
.loan-uplist li.no1{ width:15px; height:28px; margin:45px 30px 0 0; background:url(../images/loan-prv.png) no-repeat center;}
.loan-uplist li.no2{ width:15px; height:28px; margin:45px 0 0 30px; background:url(../images/loan-next.png) no-repeat center;}
.loan-uplist li.no3{ width:150px; height:100px; border:1px solid #e6e6e6; padding:2px; margin-right:10px; }
.loan-uplist li.no3:hover{border:1px solid #ff8f12;}
.loan-delate{ width:20px; height:20px; background:url(../images/loan-delate.png) no-repeat center; position:absolute; right:-10px; top:-10px; cursor:pointer;}
.loan-uplist li.no3:hover .loan-delate{ width:20px; height:20px; background:url(../images/loan-delate-on.png) no-repeat center;}
.loan-mar{ margin:40px 0 30px 380px !important;}

/*我要理财*/
.fina-tit{ padding:30px 0 20px 10px; overflow:hidden; height:20px; line-height:20px; }
.fina-tit h3{ width:100px; padding-left:15px; font-size:20px; line-height:20px; float:left; background:url(../images/finance-tbg.png) no-repeat ;}
.fina-tit img{ float:left; padding-top:2px;}
.fina-tit span{ float:right; line-height:20px; color:#ff8f12;}
.fina-pro{ width:100%; margin-bottom:20px; overflow:hidden;}
.fina-pro ul{ width:100%;}
.fina-pro ul li{ width:332px; border:1px solid #e6e6e6; float:left; overflow:hidden;}
.fina-pro ul li.no1{ margin-left:-1px; }
.fina-pro ul li:hover { border:1px solid #ff8f12 !important;z-index:99 !important; position:relative; }
.fina-pro ul li>div{ float:left;}
.fina-pro-tit{ width:312px; margin:16px 10px 10px 10px; padding-bottom:10px; border-bottom:1px solid #e6e6e6; position:relative;}
.fina-pro-tit img{ float:left; margin-right:10px;}
.fina-pro-tit span{ font-size:24px;}
.fina-pro-tit span i{ font-size:16px; padding-left:6px;}
.fina-pro-titline{ position:absolute; right:32px; top:0px;}
.fina-counter{ width:21px; height:27px; cursor:pointer; background:url(../images/finance-3.png) no-repeat; float:right; margin:6px 6px 0 0; }
.fina-counter:hover{background:url(../images/finance-3-on.png) no-repeat;}
.fina-pro-m-p1{ font-size:18px; padding-top:20px; text-align:center;}
.fina-pro-m-p2{ font-size:38px;padding-top:20px; line-height:40px; text-align:center;}
.fina-pro-m-p2 span{ font-size:26px; line-height:50px;}
.fina-pro-m-p3{ font-size:20px;padding-top:20px; text-align:center;}
.fina-js{ margin:10px 28px; padding-top:6px; border-top:1px solid #e6e6e6; font-size:12px; color:#989898; line-height:20px;}
.fina-btn{ width:260px; height:44px; border-radius:3px;  margin:2px 0 16px 36px; cursor:pointer; color:#fff; text-align:center; font-size:20px; line-height:46px;}
.fina-btn-cor1{ background:#ff8f12;}
.fina-btn-cor1:hover{ background:#ff7c12;}
.fina-btn-cor2{ background:#59aaf4;}
.fina-btn-cor2:hover{ background:#4c9bf4;}
.fina-btn-cor3{ background:#fa8381;}
.fina-btn-cor3:hover{ background:#f66865;}
/*计算器*/
.counter-box{ border:1px solid #e6e6e6; padding:10px; overflow:hidden;}
.counter-tit{ width:auto; padding:16px 0 6px 36px; font-size:18px; line-height:16px; height:28px; border-bottom:1px solid #e6e6e6; background:url(../images/finance-3.png) no-repeat scroll 5px center; overflow:hidden;}
.counter-tit a{ font-size:14px; color:#989898; float:right; margin-right:6px;}
.counter-tit a:hover{ text-decoration:underline;}
.counter-cont{ padding:10px 26px 10px 26px; overflow:hidden;}
.counter-list{ width:100%; margin-top:10px;}
.counter-list li{ float:left; width:80px; text-align:center; cursor:pointer; border-top:2px solid #fff; height:34px; font-size:16px; line-height:34px;}
.counter-list li:hover{border-top:2px solid #ff8f12;}
.counter-list li.active{border-top:2px solid #ff8f12;}
.counter-text{ padding:20px; overflow:hidden;}
.counter-text span{ float:left; font-size:14px; line-height:30px;}
.counter-int{ float:left; width:188px; height:30px; padding-left:10px; line-height:30px; border:1px solid #e6e6e6; color:#989898; border-radius:3px; margin-right:30px;}
.counter-btn{ width:112px; height:26px; border-radius:15px; color:#189ed8; font-size:14px; cursor:pointer; background:#fff; text-align:center; border:1px solid #e6e6e6; float:left; margin:0px 0 0 30px;}
.counter-btn:hover{ background:#189ed8; color:#fff; border:1px solid #1598d0; transition:all 0.4s ease-in 0s;}
.counter-sum{ padding:8px 20px 0px 20px; overflow:hidden;}
.counter-sum p{ width:35%; float:left; font-size:14px; color:#989898;}
.counter-sum p span{ font-size:18px; color:#ff8f12;}
.finance-tit{ padding-left:26px; background:url(../images/sanbiao-tbg.png) no-repeat scroll 10px center; font-size:20px; height:28px; line-height:28px; margin:20px 0 18px 0;}
.finance-tit a{ font-size:14px; line-height:35px; float:right; margin-right:10px; color:#989898;}
.finance-tit a:hover{ color:#ff8f12; }
/*固定理财出借方案*/
.fixed-fina{ height:320px; background:url(../images/fixed-fbg.png) top center no-repeat #1fc6b4; width:100%;}
.ff-tit{ margin:30px auto; border-bottom:1px solid #e6e6e6; height:20px; }
.ff-tit p { text-align:center;}
.ff-tit p span{ font-size:22px; background:#FFF; color:#ff8f12;text-align:center; padding:0 20px; margin-top:-20px;}
.ff-js{ text-align:center; font-size:16px; line-height:30px; padding:10px 20px 30px 20px; border-bottom:1px solid #e6e6e6;}
.ff-pro-list{ width:100%;}
.ff-pro-list li{ float:left; width:242px; margin-right:10px; }
.ff-pro-list li.no1{ margin-right:0;}
.ff-pro-t{border-top:2px solid #ff8f12; border-right:1px solid #e6e6e6; border-left:1px solid #e6e6e6; padding:10px; overflow:hidden; }
.ff-p-1{ line-height:36px; font-size:20px; padding-left:10px;}
.ff-p-2{ padding:24px 0 24px 0; overflow:hidden; border-bottom:1px solid #e6e6e6;}
.ff-p-2-m{ width:49%; border-right:1px solid #e6e6e6; text-align:center; float:left;}
.ff-p-2-p1{ font-size:22px; line-height:34px; margin-bottom:4px;}
.ff-p-2-p3{ font-size:14px ; line-height:34px; margin-bottom:4px;}
.ff-p-2-p2{ font-size:12px;}
.ff-p-3{ padding:0 10px; overflow:hidden; font-size:14px; text-align:left; line-height:40px;}
.ff-p-3 span{ float:right;}
.ff-p-4{ line-height:30px; padding:0 10px; overflow:hidden; font-size:14px; text-align:left;}
/*进度条 */
.progressbar{ width:100px; background:#e6e6e6;height:12px; position:relative; margin:24px 0 0 16px;} 
.progressbar .bar { background:#91c231;  height:100%; text-align:center; width:0; position:absolute;  left:0;  top:0; z-index:10; } 
.progressbar .text { font-size:16px; color:#585858;  position:absolute; right:-44px; top:-6px; }
.pro-ft-mar{ right:-52px !important; top:-10px !important;}
.pro-f-mar{ margin:11px 54px 0 0 !important;}

.ff-p-btn{ width:100%; height:46px; background:#ff8f12; padding:0 0; font-size:18px; line-height:16px; text-align:center; color:#fff; cursor:pointer;}
.ff-p-btn:hover{ background:#ff7c12 ;}
.ff-pro-tit{ width:auto; padding:16px 0 6px 25px; font-size:20px; line-height:16px; height:28px; border-bottom:1px solid #e6e6e6; background:url(../images/finance-tbg.png) no-repeat scroll 10px center; overflow:hidden;}
/*投资效果*/
.ff-total{ width:100%;}
.ff-total li{ width:332px; float:left; border:1px solid #e6e6e6; height:178px; text-align:center; line-height:178px;}
.ff-total li.no1{ margin-left:-1px;}
.ff-t-box{ width:272px; padding:62px 0 0 50px;}
.ff-t-box img{ float:left;}
.ff-t-sum{ float:right; text-align:left; width:195px; height:80px;}
.ff-t-sum p{ font-size:16px; line-height:20px;}
.ff-t-sum p.p2{ font-size:28px; line-height:52px;}
/*加入流程*/
.ff-jion{ height:180px; background:#f2f2f2;}
/*汇中宝*/
.hzb-pro-list{ width:100%;}
.hzb-pro-list li{ float:left; width:320px; margin-right:20px; }
.hzb-pro-list li.no1{ margin-right:0;}
.hzb-pro-t{border-top:2px solid #189ed8; border-right:1px solid #e6e6e6; border-left:1px solid #e6e6e6; padding:10px; overflow:hidden; }
.hzb-p-btn{ width:100%; height:46px; background:#4fbfef; padding:0 0; font-size:18px; line-height:16px; text-align:center; color:#fff; cursor:pointer;}
.hzb-p-btn:hover{ background:#189ed8; }
/*月利通*/
.ylt-pro-list{ width:100%;}
.ylt-pro-list li{ float:left; width:320px; margin-right:20px; }
.ylt-pro-list li.no1{ margin-right:0;}
.ylt-pro-t{border-top:2px solid #91c231; border-right:1px solid #e6e6e6; border-left:1px solid #e6e6e6; padding:10px; overflow:hidden; }
.ylt-p-btn{ width:100%; height:46px; background:#b6db6f; padding:0 0; font-size:18px; line-height:16px; text-align:center; color:#fff; cursor:pointer;}
.ylt-p-btn:hover{ background:#91c231; }
.ylt-p-tit{ padding-left:26px; background:url(../images/ylt-tbg.png) no-repeat scroll 10px center; font-size:20px; height:28px; line-height:28px; margin:20px 0 18px 0;}

/*散标投资*/
.invt-wdl{ text-align:center; font-size:16px; padding:100px 0;}
.invt-wdl a{ font-size:18px; color:#189ed8;}
.san-invt-p1{ font-size:14px; line-height:30px;}
.san-invt-p1 span{ padding-left:30px; font-size:12px;}
.ap-pic tr td{ width:170px; padding:2px; border:1px solid #fff; margin-right:20px;}
.ap-pic tr td:hover{ border:1px solid #ff8f12;}

/*确认投资*/
.sure-invest{ padding:10px; border:1px solid #e6e6e6; overflow:hidden;}
.sure-invest-h3{ color:#189ed8; font-size:18px; line-height:40px; padding-left:110px; width:auto;}
.s-invt-l{ width:350px; height:55px; line-height:55px; font-size:16px; float:left; text-align:right;}
.s-invt-r{ width:600px; height:55px; line-height:55px; font-size:16px;float:left; text-align:left;}
.s-invt-r a{ font-size:16px; line-height:50px; color:#189ed8;}
.s-invt-r a:hover{ text-decoration:underline;}
.s-invt-r input{ width:140px; height:36px; margin-top:8px; border:1px solid #e6e6e6; border-radius:3px; margin-right:10px; float:left; padding-left:10px;}
.s-invt-r span{ float:left; font-size:12px; line-height:50px;}
.s-invt-btnbox{ padding:70px 0 40px 350px; overflow:hidden; height:42px; }
.s-invt-btn1{ width:138px; height:38px; background:#189ed8; border-radius:3px; border:1px solid #1892c7; color:#fff; font-size:16px; margin-right:14px;  cursor:pointer;}
.s-invt-btn1:hover{background:#ff8f12; color:#fff; border:1px solid #ff8400; transition:all 0.2s ease-in 0s;}
.s-invt-btn2{ width:110px; height:38px; background:#91c231; border-radius:3px; border:1px solid #88b62e; color:#fff; font-size:16px; cursor:pointer;}
.s-invt-btn2:hover{background:#ff8f12; color:#fff; border:1px solid #ff8400; transition:all 0.2s ease-in 0s;}
