@charset "utf-8";
/* CSS Document */

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size:12px;
	font-family:'Microsoft YaHei';
}
*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	margin:0 auto;
	font-size:12px;
	font-family:"Microsoft YaHei";
	background:#f5fbff;
}
body,html{height:100%;}
ul, dl, dd, h1, h2, h3, h4, h5, h6, form, p {
	padding:0;
	margin:0;
}
ul {list-style:none;}
li{list-style:none;}
input{border:0; margin:0; padding:0;}
img {border:none;vertical-align:middle;}
a {text-decoration:none;}
.margin0Auto {margin:0 auto;}
.fl {float:left}
.fr {float:right}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.posiR{ position:relative;}
.overHide{ overflow:hidden;}
h1{ font-size:30px; line-height:120px; height:108px; color:#306fdc; font-weight:normal;}
h1 span{ font-size:18px; padding-left:6px; line-height:120px;}
p .ingput{ vertical-align:middle;}


.imgLeft{width:229px;height: 45px; height: 18px;float:right}
.imgLeft img{
	margin-top: 14px;
}

.code_box{height:60px;}
.box{ width:100%; margin:0 auto; padding:0;}
.container{ width:1000px; margin:0 auto;}
.content{ width:100%;}
.top-banner{ background:url(../../images/midautumn/banner.jpg) center top no-repeat; height:516px;}
.mid-banner{ background:url(../../images/midautumn/landPageBanner3.jpg) center top no-repeat; height:380px;}
.btm-banner{ background:url(../../images/midautumn/landPageBanner3.jpg) center top no-repeat; height:606px;}
.top-title{ width:100%; height:50px; background:url(../../images/midautumn/top-bg.png) repeat-x #1e5abf;}
.top-title span{width: 260px}
.top-title img.rt{ margin:8px 30px 0 0; display:inline-block;}
.top-title a.rt1{ font-size:15px;  color:#fff; float:right; margin-top:15px; *margin-top:-20px}
.reg-box{ width:280px; height:395px; padding:20px 25px 0 25px; background:url(../../images/midautumn/reg-bg.png) no-repeat; position:absolute; right:0px; top:30px; background-size:cover;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;-oz-border-radio:3px;}
.reg-input{ width:265px; font-size:14px; color:#fff!important; padding-left:15px; height:44px;line-height: 44px\9;}
.reg-user{ background:url(../../images/midautumn/reg-user.png) no-repeat;margin-bottom:15px; }
.reg-phone{ background:url(../../images/midautumn/reg-phone1.png) no-repeat;}
.reg-yzm{ width:176px; height:44px; background:url(../../images/midautumn/yzm-bg.png) repeat-x; font-size:14px;  color:#fff!important; border-radius:4px 0 0 4px; float:left; padding-left:15px;line-height: 44px\9}
.reg-hqyzm{ width:104px; height:44px; background:#109cda; border-radius:0 4px 4px 0; float:left; color:#fff;cursor:pointer;}
.reg-img{ width:88px; height:44px; background:url("../../images/midautumn/reg-img.png"); border-radius:0 4px 4px 0; float:left; color:#fff;cursor:pointer;}
.reg-pwd{ background:url(../../images/midautumn/reg-pwd.png) no-repeat;line-height: 44px\9}
.reg-xy{ font-size:14px; height:35px; line-height:35px;}
.reg-xy input{height:35px; line-height:35px; float:left; margin-right:9px;}
.reg-xy span{ font-size:14px; color:#fff; float:left;}
.reg-xy span.color1{ color:#189ed8; padding-left:4px;}
.reg-yzMsg{ width:100%; height:40px; background:url(../../images/midautumn/reg-yzbg.png) no-repeat; font-size:12px; line-height:40px; color:#ffe528; text-align:center; margin-bottom:10px; display:none}
.reg-btn{ width:100%; height:46px; color:#fff; background:#109cda; border-radius:4px; font-size:22px; text-align:center; cursor:pointer;}
.ref-coad{font-size: 14px; color: #ffffff; line-height: 46px;}

.productList{ width:100%; padding-top:15px; overflow:hidden;}
.productList li{ float:left; font-size:24px; color:#333333; line-height:120px; margin-bottom:75px;}
.productList li img{ float:left; margin-right:25px;}
.productList li img.no1{ margin-top:11px;}
.productList li img.no2{ margin-top:4px;}
.productList li.no1{ width:65%;}
.productList li.no2{ width:35%;}

.projectList{ width:100%;}
.projectList li{ width:243px; height:312px; margin-right:9px; float:left;text-align:center;}
.projectList li.mr{ margin-right:0;}
.proList-T{ height:48px; line-height:48px;  font-size:20px; color:#fff;}
.proList-B{ height:260px; background:#fff;  padding-top:0px; box-shadow:1px 1px 1px 1px #e7e8eb; }
.proList-B p{ line-height:40px; color:#333333;font-size:18px;}
.proList-B p span{ font-size:18px;}
.proList-B p.no1{ font-size:40px !important; line-height:100px; height:100px;}
.proList-B p.no1 span{ font-size:16px !important;}
.proList-B p.nh{ font-size:16px;color:#999999 !important;}
.proList-input{ width:140px; height:40px; color:#fff; font-size:18px; border-radius:4px; cursor:pointer; margin-top:6px;}
.prolistOne{ background:#fc7557;}
.prolistTow{ background:#5e93f1;}
.prolistThree{ background:#f971b9;}
.prolistFour{ background:#feaf6d;}
.proColor1{ color:#fc7557 !important;}
.proColor2{ color:#5e93f1 !important;}
.proColor3{ color:#f971b9 !important;}
.proColor4{ color:#feaf6d !important;}

.mediaReport{ width:100%;}
.mediaReport li{ width:245px; float:left; margin-right:6px; margin-bottom:30px; position:relative;}
.mediaReport li.clmr{ margin-right:0;}
.mediaReport li p { font-size:16px; text-align:center; height:50px; line-height:55px; color:#333333;}
.mediaReport li p:hover{ text-decoration:underline;}
.mediaR{ width:243px; height:136px; background:#fff; border:1px solid #e8eaec; text-align:center; line-height:136px; cursor:pointer;}
.mediaR-zz{ width:243px; height:136px; background:url(../../images/midautumn/media-play.png) no-repeat; border:1px solid #d1cfcf; position:absolute; top:0; left:0; display:none;  }

.downloadBox{ width:258px; padding:222px 0 0 480px;}
.download{ width:258px; height:68px; display:block;}
.download-iphone{ background:url(../../images/midautumn/iphone.png) center no-repeat; border:1px solid #fff; border-radius:4px; margin-bottom:20px;}
.download-iphone:hover{ background:url(../../images/midautumn/iphone-on.png) center no-repeat #fff; border:1px solid #5cc3f7;opacity:0.8;}
.download-android{background:url(../../images/midautumn/android.png) center no-repeat; border:1px solid #fff; border-radius:4px;}
.download-android:hover{background:url(../../images/midautumn/android-on.png) center no-repeat #fff; border:1px solid #5cc3f7; opacity:0.8;}




.top-banner{ background:url(../../images/midautumn/banner.jpg) center top no-repeat; height:516px;}
.top-title{ width:100%; height:50px;}
.container ul.sy{float: right;} 
.container ul.sy li{float: left;line-height: 50px;margin-right: 20px}
.container ul.sy li:nth-child(1),.container ul.sy li:nth-child(2){margin-right: 12px}
.container ul.sy li:nth-child(4){margin-right: 0px}
.container ul.sy li a{color: #fff;font-size: 14px;}
.container ul.sy li img{margin-top: -2px}
input{font-family: "微软雅黑";color: #fff}
.reg-hqyzm{background: #92c03e;font-size: 14px;font-family: "微软雅黑";width: 88px;}
.reg-btn{background: #92c03e; }
body{background: #f5fbff}
h1 { color: #306fdc; }
h1 span{color: #f7503c}
/*.reg-box{background: url(../../images/midautumn/reg-bg_03.png) no-repeat;} */
.proList-B p{line-height: 38px}
.proList-B p:nth-child(1){padding-top: 14px}
dl.productList{width: 432px;padding-top: 0px;float: left;margin-right: 130px;margin-bottom: 70px}
dl.no_b{margin-bottom: 0px} 
dl.no_r{margin-right: 0px}
dl.productList dt{float: left;}
dl.productList dd{width: 294px;float: left;margin-left: 40px;font-size: 18px;color: #686767}
dl.productList dd.title{font-size: 24px;color: #333333;padding-bottom: 22px}
.clearfix{clear: both;}
.media_r{width: 1000px;height: 370px; margin:0 auto}
/*.btm-banner {background: url(../../images/midautumn/footer_03.png) center top no-repeat;height: 464px;}*/
.downloadBox { width: 258px;padding: 158px 0 0 480px;}
.downloadBox a.ios{width: 258px;height: 68px;border: 1px solid #ffffff;border-radius: 5px;display: block;margin-top: 64px;}
.downloadBox a.andor{width: 258px;height: 68px;border: 1px solid #ffffff;border-radius: 5px;display: block;margin-top: 20px}
.downloadBox a.ios img{margin-top: 15px;margin-left: 18px}
.downloadBox a.andor img{margin-top: 15px;margin-left: 18px;}

/*注册步骤*/
.spece{
	wdith: 100%;
	height: 60px;
}
.steps{
	width: 100%;
	height: 380px;
	background: url("../../images/midautumn/steps.jpg") center no-repeat;
}
.steps h3{
	font-size: 30px;
	color: #ffffff;
	line-height: 130px;
}
.safety{
	color: #306fdc;
}
.btn-image{
	position: relative;
}
.password-btn{
	display: block;
	width: 32px;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 12px;
	cursor: pointer;
	z-index: 2;
	background: url("../../images/midautumn/password-eye.png");

}
/*错误提示信息*/
.error-info-div {
	width: auto;
	height: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
	clear: both;
}





























